/* poppins font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* Inter font */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* roboto font */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.poppins-semibold {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
    color: #3A3A3A;
  }

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* shared styles */

  .display-flex {
    display: flex;
  }

  /* header styles */

  .header {
    margin-top: 87px;
  }

 .navbar, .banner {
    max-width: 1440px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
 }

 .brand {
    font-size: 1.5rem;
    font-weight: 700;
 }

 .nav-items {
    list-style: none;
    margin-right: 34px;
 }


 .nav-link {
    text-decoration: none;
    color: #3A3A3A;
    font-size: 1rem;
 }

 /* banner styles */

 .banner {
    margin-top: 85px;
 }

 .banner-content {
    max-width: 582px;
 }

 .banner-description {
    font-size: 1rem;
    margin: 16px auto;
 }

 .banner-title {
    font-size: 3.25rem;
 }

 .prebook-btn {
    background-color: #E02C6D;
    border: none;
    padding: 10px 24px;
    font-size: 1rem;
    font-weight: 700;
    color: #fff;
    border-radius: 41px;
 }

 .banner-click {
    position: relative;
    right: 40px;
    bottom: 45px;
 }

 .circle-1 {
    position: relative;
    z-index: -1;
    width: 475px;
    height: 475px;
    border-radius: 50%;
    border: 2px solid #F1E4FF;
 }
 .circle-2 {
    position: absolute;
    top: 15%;
    left: 15%;
    bottom: 0;
    z-index: 1;
    width: 332px;
    height: 332px;
    border-radius: 50%;
    border: 65px solid #F1E4FF;
 }

 .banner-click img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
 }

 .banner-logo {
    max-width: 1110px;
    margin: 0px auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border-bottom: 2px solid #e1d0d03b;
    border-top: 2px solid #e1d0d03b;
    padding: 30px 0;
    gap: 61px;
 }

 .banner-logo img {
    width: 100%;
 }

 
.image-2 {
    padding-top: 31px;
  }

.image-3, .image-4 {
    padding-top: 10px;
 }

 .center {
    padding-top: 14px;
 }

 /* popular section styles */

 .popular {
   max-width: 1047px;
   margin: 100px auto;
 }

 .popular-title {
   font-size: 1.75rem;
   font-weight: 600;
   text-align: center;
   margin-bottom: 30px;
 }

 .card-container {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 30px;
 }

 .collection-card {
   background-color: #fff;
   padding: 17px 15px;
   width: 329px;
   border-radius: 5px;
   box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
   background: rgb(255, 255, 255);
 }

 .collection-card img {
   width: 100%;
 }

 .product-name {
   font-size: 1.75rem;
   font-weight: 500;
   margin-top: 16px;
 }

 .product-price {
   font-family: "Inter", serif;
   font-size: 1.5rem;
   font-weight: 400;
   color: rgba(0, 0, 0, 0.87);
   margin-top: 6px;
   margin-bottom: 6px;
 }

 .product-rating .icon {
   color: #FB8200;
   padding-right: 3px;
 }

 .product-rating .opacity-icon {
   color: #FB8200;
 }

 .rating-point {
   color: #5E6366;
   font-size: 0.875rem;
   font-weight: 700;
   margin-left: 8px;
 }

 .product-description {
   max-width: 200px;
   color: #787885;
   font-size: 0.875rem;
   font-weight: 700;
 }

 
.see-more-btn {
   text-align: right;
   margin-top: 50px;
 }

 .see-more-btn a {
   text-decoration: none;
   color: rgba(224, 44, 109, 0.87);
   font-size: 1rem;
   font-weight: 700;
   margin-left: 5px;
 }

 
.see-more-btn a i {
   padding-left: 5px;
 }
 
 
 @media screen and (max-width: 576px) {
    .navbar, .nav-links {
        flex-direction: column;
    }

    .banner {
        flex-direction: column-reverse;
    }

    .banner-content {
        text-align: center;
        max-width: 404px;
    }

    .banner-click {
        right: 0;
    }

    .banner-title {
        font-size: 1.75rem;
    }

    .banner-description {
        font-size: 0.875rem;
    }

    .circle-1 {
        width: 257px;
        height: 257px;
    }
    .circle-2 {
        width: 180px;
        height: 180px;
    }

    .banner-click img {
        width: 82%;
        left: 25px;
        top: 30px;
    }

    .banner-logo {
        border-top: 1px solid #fff;
        width: 70%;
        grid-template-columns: repeat(4, 1fr);
        margin-top: 10px;
        gap: 31px;
    }

    .image-2 {
        padding-top: 17px;
    }

    
    .center {
        margin-left: 35px;
        padding-top: 0;
    }

    

    .card-container {
      grid-template-columns: repeat(1, 1fr);
      justify-items: center;
      width: 100%;
    }

    .see-more-btn {
      text-align: center;
    }

    
 }